
body {
	background-image: url("Images/background.jpg");
	background-size: 1500px;
  
}

h1 {
	font-size: 50px;
	color: #2b2b11;
	font-family: 'Montserrat', sans-serif;
	text-align: center;


}



h2 {
	font-size: 30px;
	color: #f3f6d8;
	font-family: 'Montserrat', sans-serif;
	text-align: center;

}

p {
	font-size: 15px;
	color:#fbf9fa;
	font-family: 'Montserrat', sans-serif;
	text-align: center;


}


img { width: 160px;
	border-radius: 50%;
	border: 1px solid #2b2b28;

}



ul > li > a {
	font-size: 50px;
	color: #4CAF50;
}

.section {
	background-color: rgba(50,50,50,0.4);
	width: 800px;
	margin: 20px auto;
	padding:20px 30px;
	border-radius: 3px
}

.button {
    background-color: #6AAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
	background-color: white;
	color: #4C8850;
}

.icons:hover {
	color: white;

}


.header {
	text-shadow: 0 0 3px #ebeb23
}






